<h1>Doctor Page</h1>
    
    <h3> <%= @doctor.name %> of <%= @doctor.department %> </h3>
    <ul>
        <% @doctor.appointments.each do |appoint| %>
        <li> <%= appoint.date %> at <%= appoint.time %> with <%= link_to appoint.patient.name, patient_path(appoint.patient) %> </li>
        <% end %>
    </ul>